/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Cormorant:300,400");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,200,300,400,500");
@import url("https://fonts.googleapis.com/css?family=Homemade+Apple");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*the box sizing keeps the element from growing when a border is being used*/
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
INTERNATIONAL ORANGE RGB: 194, 52, 50
BLEU DE FRANCE RGB: 60, 145, 230
JET RGB: 54, 53, 55
BABY POWDER RGB: 255, 253, 246
LEGHT GREY RGB: 211, 212, 217
*/
img {
  max-width: 100%;
  max-height: 100%; }

.line {
  width: 90%;
  border-bottom: 1px solid black;
  margin: auto; }

.main-container {
  width: 100%; }

header {
  width: 100%;
  position: fixed;
  z-index: 3; }

.header-top {
  height: 100px;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header-logo {
  height: 140px;
  width: auto;
  position: relative;
  top: 10px; }

.header-logo img {
  display: block;
  max-height: 100%;
  margin: auto; }

.header-align {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem; }

.header-desktop-menu {
  display: none; }

.header-mobile-menu {
  display: block; }

.desktop-menu-contact {
  display: none; }

@media (min-width: 769px) {
  .header-mobile-menu {
    height: 32px;
    display: none; }
  .header-desktop-menu {
    width: 100%;
    display: block;
    background-color: #021d3f; }
  .header-destop-link-holder {
    width: 80%;
    margin: auto;
    z-index: 2; }
  .header-desktop-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .header-desktop-menu ul li {
    position: relative;
    float: left;
    padding: .5em;
    cursor: pointer;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 100; }
  .header-desktop-menu ul a {
    color: #fffdf6;
    text-decoration: none;
    display: block; }
  .header-desktop-menu ul li:hover {
    top: 1px;
    left: 1px; }
  .header-desktop-menu ul a:hover {
    color: white; }
  .desktop-menu-contact {
    display: block;
    background: #021d3f;
    border: 1px;
    border-style: solid;
    border-color: #fffdf6;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    color: #fffdf6;
    letter-spacing: .1rem;
    padding: .7rem; }
  .desktop-menu-contact:hover {
    background: #f72c47; } }

footer {
  width: 100%;
  height: 45px;
  background: #021d3f;
  /*border-radius: 0 0 0 50em;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem; }

.footer-info {
  width: 100%;
  text-align: center;
  color: #fffdf6;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 200; }

.bullet-spacer {
  display: inline-block;
  width: 1.5rem;
  font-weight: 500; }

.home-action-banner-overlay {
  width: 100%;
  height: calc(100vh);
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute; }

.home-action-banner {
  width: 100%;
  height: calc(100vh);
  background: url("../forest-light.jpg") no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.home-action-banner-logo {
  color: #fffdf6;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 200;
  font-size: 4rem;
  margin-bottom: 2rem;
  z-index: 2; }

.home-action-banner-action {
  color: #fffdf6;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  border: 2px;
  border-style: solid;
  border-color: #fffdf6;
  padding: .7rem;
  background-color: rgba(247, 44, 71, 0.8);
  z-index: 2;
  cursor: pointer; }

.home-action-banner-action:hover {
  background-color: #f72c47; }

.home-coaching-info-title {
  font-family: "Fira Sans Condensed", sans-serif;
  color: #f72c47;
  font-size: 2rem;
  text-align: center;
  padding: 2rem; }

.home-coaching-info-types {
  width: 100%;
  display: flex;
  flex-direction: row; }

.home-coaching-info-box {
  width: 50%;
  padding: 1rem; }

.home-coaching-info-box-title {
  font-family: "Cormorant", serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem; }
  .home-coaching-info-box-title a {
    text-decoration: none;
    color: #021d3f; }

.home-coaching-info-image {
  height: 45vh; }

#career-coaching-img {
  background-image: url("../workspace.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }

#life-coaching-img {
  background-image: url("../manandvista.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }

.home-coaching-info {
  font-family: "Cormorant", serif;
  color: #021d3f;
  font-size: 1rem;
  padding: 1rem;
  padding-left: 2rem; }

.home-coaching-info li {
  padding-bottom: .2rem;
  list-style: disc; }

@media (max-width: 768px) {
  .home-action-banner-logo {
    font-size: 3rem;
    text-align: center; }
  .home-coaching-info-types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .home-coaching-info-box {
    width: 80%; }
  #life-coaching-img {
    background-position: center bottom;
    height: 70vh; } }

.benefits-container {
  top: 132px;
  display: block; }

.benefits-top {
  width: 100%;
  background: url("../jasper-van-der-meij-97274.jpg") no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  position: relative;
  height: calc(100vh - 132px); }

.benefits-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px; }

.benefits-left {
  width: calc(100% - 300px); }

.benefits-title {
  width: 100%;
  font-family: "Cormorant", serif;
  font-size: 2rem;
  color: #f72c47;
  text-align: center;
  padding: 1.5rem; }

.coaching-benefits-section {
  padding: 1rem;
  font-family: "Cormorant", serif; }

.coaching-title {
  font-family: "Fira Sans Condensed", sans-serif;
  color: #021d3f;
  font-size: 2rem;
  padding-bottom: 1rem; }

.coaching-info {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Cormorant", serif; }

.coaching-info div {
  color: #f72c47;
  font-size: 1.2rem; }

.coaching-info ul {
  padding-left: 2rem; }

.coaching-info li {
  padding-bottom: .2rem;
  list-style: disc; }

.benefits-right {
  width: 300px;
  border-left: 1px solid #021d3f;
  padding: 10px;
  position: relative; }

@media (max-width: 768px) {
  .benefits-right {
    display: none; }
  .benefits-left {
    width: 100%; } }

.career-container {
  top: 132px;
  display: block; }

.career-top {
  width: 100%;
  background: url("../christoph-schulz-4743.jpg") no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  position: relative;
  height: calc(100vh - 132px); }

.career-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px; }

.career-left {
  width: calc(100% - 300px); }

.career-title {
  width: 100%;
  font-family: "Cormorant", serif;
  font-size: 2rem;
  color: #f72c47;
  text-align: center;
  padding: 1.5rem; }

.career-about-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.4rem;
  color: #021d3f; }

.career-about-alert {
  color: #38cafa;
  font-size: 1.2rem;
  padding: 1rem 0; }

.career-section {
  padding: 1rem;
  font-family: "Cormorant", serif; }

.career-about-list-title {
  color: #f72c47;
  font-weight: bold;
  padding: .5rem; }

.career-about-info {
  padding: 1rem; }

.career-about-info li {
  margin-left: 2.5rem;
  list-style: disc; }
  .career-about-info li a {
    color: #0584ad;
    cursor: pointer; }

.career-section p {
  padding: .5rem; }

.career-right {
  width: 300px;
  border-left: 1px solid #021d3f;
  padding: 10px;
  position: relative; }

@media (max-width: 768px) {
  .career-right {
    display: none; }
  .career-left {
    width: 100%; } }

.life-container {
  top: 132px;
  display: block; }

.life-top {
  width: 100%;
  background: url("../sonja-guina-39897.jpg") no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  position: relative;
  height: calc(100vh - 132px); }

.life-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px; }

.life-left {
  width: calc(100% - 300px); }

.life-title {
  width: 100%;
  font-family: "Cormorant", serif;
  font-size: 2rem;
  color: #f72c47;
  text-align: center;
  padding: 1.5rem; }

.life-about-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.4rem;
  color: #021d3f; }

.life-about-alert {
  color: #38cafa;
  font-size: 1.2rem;
  padding: 1rem 0; }

.life-section {
  padding: 1rem;
  font-family: "Cormorant", serif; }

.life-about-list-title {
  color: #f72c47;
  font-weight: bold;
  padding: .5rem; }

.life-about-info {
  padding: 1rem; }

.life-about-info li {
  margin-left: 2.5rem;
  list-style: disc; }
  .life-about-info li a {
    color: #0584ad;
    cursor: pointer; }

.life-section p {
  padding: .5rem; }

.life-right {
  width: 300px;
  border-left: 1px solid #021d3f;
  padding: 10px;
  position: relative; }

@media (max-width: 768px) {
  .life-right {
    display: none; }
  .life-left {
    width: 100%; } }

.michele-container {
  top: 132px;
  display: block; }

.michele-top {
  width: 100%;
  background: url("../alex-wigan-16997.jpg") no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  position: relative;
  height: calc(100vh - 132px); }

.michele-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px; }

.michele-left {
  width: calc(100% - 300px); }

.michele-title {
  width: 100%;
  font-family: "Cormorant", serif;
  font-size: 2rem;
  color: #f72c47;
  text-align: center;
  padding: 1.5rem; }

.michele-about {
  padding: 0 1rem;
  font-family: "Cormorant", serif; }
  .michele-about p {
    padding: .2rem 0; }
    .michele-about p span {
      color: #0597c6; }

.michele-section-header {
  font-family: "Fira Sans Condensed", sans-serif;
  color: #f72c47;
  padding: 1rem 0; }

.michele-right {
  width: 300px;
  border-left: 1px solid #021d3f;
  padding: 10px;
  position: relative; }

@media (max-width: 768px) {
  .michele-right {
    display: none; }
  .michele-left {
    width: 100%; } }

.quote {
  position: absolute;
  top: 20%; }

.quote-mark {
  font-size: 50px; }

.start-quote {
  position: absolute; }

.end-quote {
  position: absolute;
  right: 10px; }

.quote-quote {
  padding: 0 30px;
  position: relative;
  top: 15px;
  line-height: 1.5;
  font-family: "Homemade Apple", cursive; }

.quote-source {
  text-align: center;
  margin-top: 30px;
  font-family: "Cormorant", serif; }

.mini-menu-link-holder ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.mini-menu-link-holder ul li {
  position: relative;
  float: left;
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 100; }

.mini-menu-link-holder ul li a {
  color: #021d3f;
  text-decoration: none;
  display: block; }

.mini-menu-link-holder ul li:hover {
  top: 1px;
  left: 1px; }

.mini-menu-link-holder ul a:hover {
  color: #f72c47; }
