/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Cormorant:300,400");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600");
@import url("https://fonts.googleapis.com/css?family=Homemade+Apple");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*the box sizing keeps the element from growing when a border is being used*/
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
INTERNATIONAL ORANGE RGB: 194, 52, 50
BLEU DE FRANCE RGB: 60, 145, 230
JET RGB: 54, 53, 55
BABY POWDER RGB: 255, 253, 246
LEGHT GREY RGB: 211, 212, 217
*/
/* $red-color: rgb(247, 44, 71); */
img {
  max-width: 100%;
  max-height: 100%; }

.line {
  width: 90%;
  border-bottom: 1px solid black;
  margin: auto; }

body {
  background-image: url(../body.png);
  background-repeat: repeat;
  background-position: top center;
  background-attachment: scroll; }

.main-container {
  width: 100%; }

header {
  width: 100%;
  position: fixed;
  z-index: 3;
  border-bottom: 1px solid #0597c6; }

.header-top {
  background-image: url(../body.png);
  background-repeat: repeat;
  background-position: top center;
  height: 100px;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.animate-show-hide.ng-hide {
  height: 0; }

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s; }

.header-logo {
  height: 140px;
  width: auto;
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: row; }
  .header-logo a {
    width: 100px; }

.header-logo img {
  max-height: 100%;
  margin: auto; }

.header-logo-text {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-family: "Cormorant", serif;
  font-size: 50px; }
  .header-logo-text a {
    width: auto;
    color: #7a0000;
    text-decoration: none; }

.header-align {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem; }

.header-desktop-menu {
  display: none; }

.header-mobile-menu {
  display: block; }

.desktop-menu-contact {
  display: none; }

@media (min-width: 769px) {
  header {
    border-bottom: none; }
  .header-mobile-menu {
    height: 32px;
    display: none; }
  .header-desktop-menu {
    position: relative;
    width: 100%;
    display: block;
    background-color: #021d3f;
    z-index: 10; }
  .header-destop-link-holder {
    width: 80%;
    margin: auto;
    z-index: 2;
    height: 35px; }
  .header-desktop-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .header-desktop-menu ul li {
    position: relative;
    float: left;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 17.5px;
    font-weight: 200; }
  .header-desktop-menu ul a {
    text-align: center;
    text-decoration: none;
    display: block;
    height: 35px;
    padding: 8.75px 5px 0 5px; }
  .header-desktop-menu ul > li > a {
    color: #fffdf6; }
  .header-desktop-menu ul li:hover {
    background: white;
    color: black;
    border: 1px solid black; }
  .header-desktop-menu ul li:hover > a {
    background: white;
    color: black; }
  .header-desktop-menu ul li a:hover {
    background: #ff2e2e;
    color: #fffdf6; }
  .header-desktop-menu ul li:hover .header-drop-down {
    display: block; }
  .header-drop-down {
    display: none;
    background: white;
    width: 100%;
    z-index: 5; }
  .header-drop-down > a {
    color: black; }
  .header-drop-down a:hover {
    background-color: #ff2e2e;
    color: #fffdf6; }
  .desktop-menu-contact {
    display: block;
    background: #021d3f;
    border: 1px;
    border-style: solid;
    border-color: #fffdf6;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #fffdf6;
    letter-spacing: .1rem;
    padding: .7rem; }
    .desktop-menu-contact a {
      text-decoration: none;
      color: #fffdf6; }
  .desktop-menu-contact:hover {
    background: #7a0000; } }

footer {
  width: 100%;
  height: 45px;
  background: #021d3f;
  /*border-radius: 0 0 0 50em;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem; }

.footer-info {
  width: 100%;
  text-align: center;
  color: #fffdf6;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300; }

.bullet-spacer {
  display: inline-block;
  width: 1.5rem;
  font-weight: 500; }

.home-container {
  /* TEMP */
  padding: 5px; }

.home-dead-space {
  width: 100%;
  height: 135px; }

.home-banner {
  height: calc(100vh - 135px);
  width: 100%;
  /* TEMP */
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant", serif;
  font-size: 10rem; }

.home-body-title {
  width: 100%;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  text-align: center; }

.home-coaching-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0; }

.home-coaching-type {
  /* TEMP */
  width: 300px;
  border: 1px solid black;
  padding: 5px; }

.home-coaching-type-title {
  width: 100%;
  text-align: center;
  font-family: "Cormorant", serif;
  font-size: 1.5rem;
  cursor: pointer; }

.home-coaching-type-img {
  /* TEMP */
  height: 200px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Cormorant", serif;
  cursor: pointer; }

.home-coaching-type-text {
  padding: 5px; }

.home-section-break {
  width: 100%;
  height: 125px;
  background: #515151;
  position: relative;
  display: flex;
  padding-left: 185px; }

.home-section-break:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 115px;
  background-image: url(../body.png);
  background-repeat: repeat;
  background-position: top center;
  background-attachment: scroll;
  z-index: 0;
  -webkit-transform: matrix(1.25, 0, 0.75, 1, 0, 0);
  -moz-transform: matrix(1.25, 0, 0.75, 1, 0, 0);
  -ms-transform: matrix(1.25, 0, 0.75, 1, 0, 0);
  -o-transform: matrix(1.25, 0, 0.75, 1, 0, 0);
  transform: matrix(1.25, 0, 0.75, 1, 0, 0);
  border-radius: 0 20px 0 20px;
  margin: 0 -80px 0;
  left: 140px; }

.home-section-break-left {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }

.circle {
  height: 100px;
  width: 100px;
  border: 2px solid white;
  border-radius: 50%; }

.home-section-break-right {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 100px; }

.home-section-break-right-words {
  padding: 10px;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;
  font-size: 2.1rem; }

.home-section-break-right-arrow {
  height: 100px;
  width: 50px;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.1rem;
  position: relative;
  cursor: pointer; }

.home-section-break-right-arrow:hover {
  left: 5px; }

.home-award-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.home-award-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.1rem; }

.benefits-container {
  top: 132px;
  display: block; }

.benefits-top {
  width: 100%;
  background: url("../jasper-van-der-meij-97274.jpg") no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  position: relative;
  height: calc(100vh - 132px); }

.benefits-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px; }

.benefits-left {
  width: calc(100% - 300px); }

.benefits-title {
  width: 100%;
  font-family: "Cormorant", serif;
  font-size: 2rem;
  color: #7a0000;
  text-align: center;
  padding: 1.5rem; }

.coaching-benefits-section {
  padding: 1rem;
  font-family: "Cormorant", serif; }

.coaching-title {
  font-family: "Nunito Sans", sans-serif;
  color: #021d3f;
  font-size: 2rem;
  padding-bottom: 1rem; }

.coaching-info {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Cormorant", serif; }

.coaching-info div {
  color: #7a0000;
  font-size: 1.2rem; }

.coaching-info ul {
  padding-left: 2rem; }

.coaching-info li {
  padding-bottom: .2rem;
  list-style: disc; }

.benefits-right {
  width: 300px;
  border-left: 1px solid #021d3f;
  padding: 10px;
  position: relative; }

@media (max-width: 768px) {
  .benefits-right {
    display: none; }
  .benefits-left {
    width: 100%; } }

.career-container {
  top: 132px;
  display: block; }

.career-top {
  width: 100%;
  background: url("../hugo-sousa-270201.jpg") no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  position: relative;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.career-title {
  font-family: "Cormorant", serif;
  font-size: 3rem;
  color: white;
  text-align: center;
  padding: 1.5rem;
  letter-spacing: 1rem; }

.career-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px; }

.career-left {
  width: calc(100% - 300px); }

.career-intro {
  padding: 1rem; }
  .career-intro h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.4rem;
    color: #021d3f;
    margin-bottom: 10px; }

.career-about-title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  color: #021d3f; }

.career-coaching-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0; }

.career-coaching-type {
  width: 25%;
  /* TEMP */
  border: 1px solid black;
  padding: 5px; }

.career-coaching-type-title {
  width: 100%;
  text-align: center;
  font-family: "Cormorant", serif;
  font-size: 1.5rem;
  cursor: pointer; }

.career-coaching-type-img {
  /* TEMP */
  height: 200px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Cormorant", serif;
  cursor: pointer; }

.career-coaching-type-text {
  padding: 5px; }

.career-right {
  width: 300px;
  border-left: 1px solid #021d3f;
  padding: 10px;
  position: relative; }

@media (max-width: 1200px) {
  .career-coaching-type-container {
    display: block; }
  .career-coaching-type {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    /* TEMP */
    border: 1px solid black;
    padding: 5px; } }

@media (max-width: 768px) {
  .career-right {
    display: none; }
  .career-left {
    width: 100%; } }

.career-student-container {
  top: 132px;
  display: block; }

.career-student-top {
  width: 100%;
  background: url("../hugo-sousa-270201.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.career-student-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px; }

.career-student-left {
  width: calc(100% - 300px); }

.career-student-title {
  font-family: "Cormorant", serif;
  font-size: 3rem;
  color: white;
  text-align: center;
  padding: 1.5rem;
  letter-spacing: 1rem; }

.career-student-about-title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  color: #021d3f; }

.career-student-about-alert {
  color: #38cafa;
  font-size: 1.2rem;
  padding: 1rem 0; }

.career-student-section {
  padding: 1rem;
  font-family: "Cormorant", serif; }

.career-student-about-list-title {
  color: #7a0000;
  font-weight: bold;
  padding: .5rem; }

.career-student-about-info {
  padding: 1rem; }

.career-student-about-info li {
  margin-left: 2.5rem;
  list-style: disc; }
  .career-student-about-info li a {
    color: #0584ad;
    cursor: pointer; }

.career-student-section p {
  padding: .5rem; }

.career-student-right {
  width: 300px;
  border-left: 1px solid #021d3f;
  padding: 10px;
  position: relative; }

@media (max-width: 768px) {
  .career-student-right {
    display: none; }
  .career-student-left {
    width: 100%; } }

.career-mid-container {
  top: 132px;
  display: block; }

.career-mid-top {
  width: 100%;
  background: url("../hugo-sousa-270201.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.career-mid-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px; }

.career-mid-left {
  width: calc(100% - 300px); }

.career-mid-title {
  font-family: "Cormorant", serif;
  font-size: 3rem;
  color: white;
  text-align: center;
  padding: 1.5rem;
  letter-spacing: 1rem; }

.career-mid-about-title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  color: #021d3f; }

.career-mid-about-alert {
  color: #38cafa;
  font-size: 1.2rem;
  padding: 1rem 0; }

.career-mid-section {
  padding: 1rem;
  font-family: "Cormorant", serif; }

.career-mid-about-list-title {
  color: #7a0000;
  font-weight: bold;
  padding: .5rem; }

.career-mid-about-info {
  padding: 1rem; }

.career-mid-about-info li {
  margin-left: 2.5rem;
  list-style: disc; }
  .career-mid-about-info li a {
    color: #0584ad;
    cursor: pointer; }

.career-mid-section p {
  padding: .5rem; }

.career-mid-right {
  width: 300px;
  border-left: 1px solid #021d3f;
  padding: 10px;
  position: relative; }

@media (max-width: 768px) {
  .career-mid-right {
    display: none; }
  .career-mid-left {
    width: 100%; } }

.executive-container {
  top: 132px;
  display: block; }

.executive-top {
  width: 100%;
  background: url("../jason-wong-305496.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.executive-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px; }

.executive-left {
  width: calc(100% - 300px); }

.executive-title {
  font-family: "Cormorant", serif;
  font-size: 3rem;
  color: white;
  text-align: center;
  padding: 1.5rem;
  letter-spacing: 1rem; }

.executive-about-title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  color: #021d3f; }

.executive-about-alert {
  color: #38cafa;
  font-size: 1.2rem;
  padding: 1rem 0; }

.executive-section {
  padding: 1rem;
  font-family: "Cormorant", serif; }

.executive-about-list-title {
  color: #7a0000;
  font-weight: bold;
  padding: .5rem; }

.executive-about-info {
  padding: 1rem; }

.executive-about-info li {
  margin-left: 2.5rem;
  list-style: disc; }
  .executive-about-info li a {
    color: #0584ad;
    cursor: pointer; }

.executive-section p {
  padding: .5rem; }

.executive-right {
  width: 300px;
  border-left: 1px solid #021d3f;
  padding: 10px;
  position: relative; }

@media (max-width: 768px) {
  .executive-right {
    display: none; }
  .executive-left {
    width: 100%; } }

.life-container {
  top: 132px;
  display: block; }

.life-top {
  width: 100%;
  background: url("../sonja-guina-39897.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.life-title {
  font-family: "Cormorant", serif;
  font-size: 3rem;
  color: white;
  text-align: center;
  padding: 1.5rem;
  letter-spacing: 1rem; }

.life-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px; }

.life-left {
  width: calc(100% - 300px); }

.life-about-title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  color: #021d3f; }

.life-about-alert {
  color: #38cafa;
  font-size: 1.2rem;
  padding: 1rem 0; }

.life-section {
  padding: 1rem;
  font-family: "Cormorant", serif; }

.life-about-list-title {
  color: #7a0000;
  font-weight: bold;
  padding: .5rem; }

.life-about-info {
  padding: 1rem; }

.life-about-info li {
  margin-left: 2.5rem;
  list-style: disc; }
  .life-about-info li a {
    color: #0584ad;
    cursor: pointer; }

.life-section p {
  padding: .5rem; }

.life-right {
  width: 300px;
  border-left: 1px solid #021d3f;
  padding: 10px;
  position: relative; }

@media (max-width: 768px) {
  .life-right {
    display: none; }
  .life-left {
    width: 100%; } }

.michele-container {
  top: 132px;
  display: block; }

.michele-top {
  width: 100%;
  background: url("../alex-wigan-16997.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.michele-title {
  font-family: "Cormorant", serif;
  font-size: 3rem;
  color: white;
  text-align: center;
  padding: 1.5rem;
  letter-spacing: 1rem;
  background: rgba(0, 0, 0, 0.5); }

.michele-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px; }

.michele-left {
  width: calc(100% - 300px); }

.michele-section-header {
  font-family: "Nunito Sans", sans-serif;
  color: #7a0000;
  padding: 1rem 0; }

.michele-about {
  padding: 0 2rem;
  font-family: "Cormorant", serif; }
  .michele-about p {
    padding: .2rem 0;
    margin-bottom: 10px; }
    .michele-about p span {
      color: #38cafa; }

.michele-crossroads-title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  color: #021d3f; }

.michele-email-link {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300; }

.michele-phone-link {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300; }
  .michele-phone-link a {
    text-decoration: none;
    color: black; }

.michele-right {
  width: 300px;
  border-left: 1px solid #021d3f;
  padding: 10px;
  position: relative; }

@media (max-width: 768px) {
  .michele-right {
    display: none; }
  .michele-left {
    width: 100%; } }

.success-container {
  top: 132px;
  display: block; }

.success-top {
  width: 100%;
  background: url("../ester-marie-doysabas-253267.jpg") no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  position: relative;
  height: calc(100vh - 132px); }

.success-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px; }

.success-left {
  width: calc(100% - 300px); }

.success-title {
  width: 100%;
  font-family: "Cormorant", serif;
  font-size: 2rem;
  color: #7a0000;
  text-align: center;
  padding: 1.5rem; }

.success-section-header {
  font-family: "Nunito Sans", sans-serif;
  color: #7a0000;
  padding: 1rem 0; }

.success-story {
  padding: 1rem 2rem; }
  .success-story span {
    font-family: "Nunito Sans", sans-serif;
    color: #7a0000; }
  .success-story p {
    margin-bottom: 1rem; }

.success-story-title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  color: #021d3f;
  margin-bottom: .4rem; }

.success-right {
  width: 300px;
  border-left: 1px solid #021d3f;
  padding: 10px;
  position: relative; }

@media (max-width: 768px) {
  .success-right {
    display: none; }
  .success-left {
    width: 100%; } }

.testimonial-container {
  top: 132px;
  display: block; }

.testimonial-top {
  width: 100%;
  background: url("../cristina-cerda-43101.jpg") no-repeat center bottom;
  background-size: cover;
  position: relative;
  height: calc(100vh - 132px); }

.testimonial-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px; }

.testimonial-left {
  width: calc(100% - 300px);
  font-family: "Cormorant", serif; }

.testimonial-title {
  width: 100%;
  font-family: "Cormorant", serif;
  font-size: 2rem;
  color: #7a0000;
  text-align: center;
  padding: 1.5rem; }

.testimonial h2 {
  font-size: 1.2rem;
  padding: 1rem .5rem;
  text-align: justify; }

.testimonial p {
  padding: 0 2rem; }

.testimonial div {
  padding: 0 1rem;
  text-align: right; }

.testimonial-oneonone h2 {
  margin-top: 2rem;
  color: #7a0000;
  font-size: 1.2rem; }

.testimonial-oneonone p {
  padding: 1rem 2rem; }

.testimonial-oneonone div {
  width: 33%;
  float: right;
  padding: .5rem;
  text-align: justify;
  font-size: 1.2rem;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black; }

.testimonial-right {
  width: 300px;
  border-left: 1px solid #021d3f;
  padding: 10px;
  position: relative; }

@media (max-width: 768px) {
  .testimonial-top {
    display: none; }
  .testimonial-bottom {
    min-height: calc(100vh - 45px); }
  .testimonial-right {
    display: none; }
  .testimonial-left {
    width: 100%; } }

.contact-container {
  top: 132px;
  display: block;
  min-height: calc(100vh - 45px);
  padding-bottom: 2rem; }

.contact-header-placeholder {
  width: 100%;
  height: 132px; }

.contact-text {
  padding: 1rem 2rem; }
  .contact-text h1 {
    font-family: "Nunito Sans", sans-serif;
    color: #7a0000;
    font-size: 2rem;
    text-align: left; }
  .contact-text p {
    margin-bottom: 1rem;
    font-family: "Cormorant", serif; }
  .contact-text a {
    color: #ff2e2e; }

.contact-form-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact-form-holder form {
    background-color: #2e88f8;
    padding: 1rem; }
    .contact-form-holder form .contact-form-line .contact-form-line-header {
      padding: .5rem;
      color: #fff;
      font-weight: 300;
      font-family: "Nunito Sans", sans-serif; }
    .contact-form-holder form .contact-form-line input {
      width: 280px;
      height: 24px;
      font-size: 18px;
      border: none; }

.submit {
  background-color: white;
  border: 1px solid #7a0000;
  color: #7a0000;
  padding: .3rem .5rem;
  font-size: 1rem;
  margin-top: .7rem; }

.submit:hover {
  background-color: #ff2e2e;
  color: white; }

@media (max-width: 768px) {
  .contact-header-placeholder {
    width: 100%;
    height: 100px; } }

.quote {
  height: 100%;
  position: relative; }

.quote-holder {
  position: absolute;
  top: 100px; }

.quote-mark {
  font-size: 50px; }

.start-quote {
  position: absolute; }

.end-quote {
  position: absolute;
  right: 10px; }

.quote-quote {
  padding: 0 30px;
  position: relative;
  top: 15px;
  line-height: 1.5;
  font-family: "Homemade Apple", cursive; }

.quote-source {
  text-align: center;
  margin-top: 30px;
  font-family: "Cormorant", serif; }

.mini-menu-link-holder ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.mini-menu-link-holder ul li {
  position: relative;
  float: left;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 200; }

.mini-menu-link-holder ul li a {
  color: #021d3f;
  text-decoration: none;
  display: block; }

.mini-menu-link-holder ul li:hover {
  top: 1px;
  left: 1px; }

.mini-menu-link-holder ul a:hover {
  color: #7a0000; }
