/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Cormorant:300,400");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,200,300,400,500");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*the box sizing keeps the element from growing when a border is being used*/
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
INTERNATIONAL ORANGE RGB: 194, 52, 50
BLEU DE FRANCE RGB: 60, 145, 230
JET RGB: 54, 53, 55
BABY POWDER RGB: 255, 253, 246
LEGHT GREY RGB: 211, 212, 217
*/
.main-container {
  position: relative; }

img {
  max-width: 100%;
  max-height: 100%; }

.main-container {
  width: 100%; }

header {
  width: 100%;
  height: 100px;
  background: #591817;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem; }

.header-align {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.header-title-container {
  color: #fffdf6;
  font-size: 1.5rem;
  font-family: 'Cormorant', serif;
  font-weight: 300;
  letter-spacing: .3rem; }

.header-title-container span {
  font-size: 2.2rem; }

.header-desktop-menu {
  display: none; }

.header-mobile-menu {
  display: block; }

@media (min-width: 769px) {
  .header-mobile-menu {
    display: none; }
  .header-desktop-menu {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
  .desktop-menu-item {
    font-family: 'Cormorant', serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: #fffdf6;
    padding: .5em;
    cursor: pointer; }
  .desktop-menu-dropdown {
    margin-right: 1.5rem;
    position: relative; }
  .desktop-menu-dropbtn {
    border: none; }
  /* Dropdown Content (Hidden by Default) */
  .desktop-menu-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fffdf6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2; }
  /* Links inside the dropdown */
  .desktop-menu-dropdown-content a {
    font-family: 'Cormorant', serif;
    font-size: 1rem;
    color: #591817;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  /* Change color of dropdown links on hover */
  .desktop-menu-dropdown-content a:hover {
    background-color: #fffefb;
    color: black; }
  /* Show the dropdown menu on hover */
  .desktop-menu-dropdown:hover .desktop-menu-dropdown-content {
    display: block;
    right: 0; }
  .desktop-menu-contact {
    background: #7c2220;
    border: 1px;
    border-style: solid;
    border-color: #fffdf6; }
  .desktop-menu-contact:hover {
    background: #9f2b29; } }

footer {
  width: 100%;
  height: 65px;
  background: #591817;
  /*border-radius: 0 0 0 50em;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem; }

.footer-info {
  width: 100%;
  text-align: center;
  color: #fffdf6; }

.home-action-banner-overlay {
  width: 100%;
  height: calc(100vh - 100px);
  z-index: 1;
  background-color: rgba(89, 24, 23, 0.1);
  position: absolute; }

.home-action-banner {
  width: 100%;
  height: calc(100vh - 100px);
  background: url("../forest-light.jpg") no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.home-action-banner-logo {
  color: #fffdf6;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 4rem;
  margin-bottom: 2rem;
  z-index: 2; }

.home-action-banner-action {
  color: #fffdf6;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 2rem;
  border: 2px;
  border-style: solid;
  border-color: #fffdf6;
  padding: .7rem;
  background-color: #7c2220;
  z-index: 2;
  cursor: pointer; }

.home-action-banner-action:hover {
  background-color: rgba(89, 24, 23, 0.7); }

.home-coaching-info-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #3c91e6;
  font-size: 2rem;
  text-align: center;
  padding: 2rem; }

.home-coaching-info-types {
  width: 100%;
  display: flex;
  flex-direction: row; }

.home-coaching-info-box {
  width: 50%;
  padding: 1rem; }

.home-coaching-info-box-title {
  font-family: 'Cormorant', serif;
  color: #591817;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem; }

.home-coaching-info {
  font-family: 'Cormorant', serif;
  color: #591817;
  font-size: 1rem;
  padding: 1rem;
  padding-left: 2rem; }

.home-coaching-info li {
  padding-bottom: .2rem;
  list-style: disc; }

.benefits-container {
  display: flex;
  flex-direction: row;
  background: url("../writing.jpg") no-repeat center center fixed;
  background-size: cover;
  background-size: cover; }

.benefits-left {
  width: 300px;
  background: #3c91e6;
  border: 3px solid #fffdf6; }

.benefits-title {
  width: 100%;
  margin-bottom: 200px;
  font-family: 'Cormorant', serif;
  font-size: 2rem;
  color: #591817;
  text-align: center;
  background: #fffdf6;
  padding: 1.5rem; }

.coaching-benefits-section {
  background: #fffdf6;
  padding: 1rem; }

.coaching-what {
  margin-bottom: 200px; }

.coaching-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #3c91e6;
  font-size: 2rem;
  padding-bottom: 1rem; }

.coaching-info {
  padding-left: 1rem;
  padding-right: 1rem; }

.coaching-info div {
  color: #591817;
  font-size: 1.2rem; }

.coaching-info ul {
  padding-left: 2rem; }

.coaching-info li {
  padding-bottom: .2rem;
  list-style: disc; }

.career-title {
  width: 100%;
  font-family: 'Cormorant', serif;
  font-size: 2rem;
  color: #591817;
  text-align: center;
  background: #fffdf6;
  padding: 1.5rem; }

.career-about-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #3c91e6;
  font-size: 2rem;
  padding-bottom: 1rem; }

.career-section {
  background: #fffdf6; }

.career-about-info {
  padding: 1.5rem; }

.career-about-list-title {
  color: #591817;
  font-size: 1.2rem; }

.career-about-info ul {
  padding-left: 2rem; }

.career-about-info li {
  padding-bottom: .2rem;
  list-style: disc; }
