<div class="main-container benefits-container">
  <div class="benefits-left">

  </div>
  <div class="benefits-right">
    <section class="benefits-title">
      COACHING BENEFITS
    </section>
    <section class="coaching-benefits-section coaching-what">
      <div class="coaching-title">
        WHAT IS COACHING?
      </div>
      <div class="coaching-info">
        During coaching, a very powerful relationship is built wherein all energy and strategy is focused on you and your goal(s). This relationship empowers you to achieve goals that you might have thought impossible. Individuals who utilize a coach more than double their rate of success. The benefit of a Life Coach for life skills can be compared to that of a personal trainer for physical fitness.
        <br>
        <br>
        Most executives utilize a coach to create successful careers. No professional football player ascends to that level without a coach. Do they know something that you don’t? The fact is that the money spent on coaching creates huge dividends in personal and/or professional success.
        <br>
        <br>
        Using a coach doesn’t indicate weakness or indecision. Rather, most coaching clients are intelligent, forward thinking, dynamic persons who prefer to take action. These are individuals who clearly understand the benefits of a safe and supportive environment in which to explore options and create the most direct path possible to a desired end.
      </div>
    </section>
    <section class="coaching-benefits-section coaching-who">
      <div class="coaching-title">
        WHO BENEFITS FROM COACHING?
      </div>
      <div class="coaching-info">
        <div>Individuals Desiring a Better Career:</div>
        <ul>
          <li>Are you considering a job or career change?</li>
          <li>Are you considering a job or career change?</li>
          <li>Can you be more effective at work?</li>
          <li>Would you like to make yourself more competitive in your career field?</li>
          <li>Would you like to strategize your next promotion and be sure to get where you want to go?</li>
        </ul>
        <br>
        <br>
        <div>People Searching for a Better Life:</div>
        <ul>
          <li>Would you like more quality time with family?</li>
          <li>Do you have a specific change that you would like to make?</li>
          <li>Would you like better work / life balance?</li>
          <li>Do you want a fulfilling life?</li>
        </ul>
      </div>
    </section>
    <section class="coaching-benefits-section">
      If you answered yes to any of these questions and are committed to making your life better, then you will benefit from coaching.
      <br><br>
      Rather than live with the frustration of slow and sometimes absent progress, utilize an effective coach and experience the power of this type of relationship. You will not want to enter the realm of change without a coach again.
    </section>
  </div>

</div>
