<div class="main-container career-container">
  <div class="career-top">
    <div class="career-title">
      CAREER COACHING SERVICES
    </div>
  </div>
  <div class="career-bottom">
    <div class="career-left">
      <div class="career-intro">
        <h2>Go further than you have ever imagined in your CAREER</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="career-coaching-type-container">
        <div class="career-coaching-type">
          <div class="career-coaching-type-title" ui-sref="career-student">
            Student
          </div>
          <div class="career-coaching-type-img" ui-sref="career-student">
            <div class="img">
              image
            </div>
          </div>
          <div class="career-coaching-type-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
        <div class="career-coaching-type">
          <div class="career-coaching-type-title" ui-sref="career-mid">
            Mid Career
          </div>
          <div class="career-coaching-type-img" ui-sref="career-mid">
            <div class="img">
              image
            </div>
          </div>
          <div class="career-coaching-type-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
        <div class="career-coaching-type">
          <div class="career-coaching-type-title" ui-sref="career">
            No Page Created Yet
          </div>
          <div class="career-coaching-type-img" ui-sref="career">
            <div class="img">
              image
            </div>
          </div>
          <div class="career-coaching-type-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
    </div>
    <div class="career-right">
      <quote-dir source="Confucius" text="It does not matter how slowly you go as long as you do not stop."></quote-dir>
    </div>
  </div>
</div>
