<div class="career-container">
  <div class="career-title">
    CAREER COACHING SERVICES
  </div>
  <section class="career-section">
    Available Soon! Group Coaching sessions to help control your session costs. Please inquire for more information.

    I offer career specific coaching sessions covering any topic you choose, such as:

    Career Management: keyboard and hand
    Make your Current Position your Best Position
    Change Jobs or Careers
    Ensure that You are Competitive
    Develop Your Career Strategy

    Job Search Skills Development:
    Writing Resumes that Get Results
    Developing Job Leads
    Networking Effectively
    Interviewing Successfully
    (Job search skills development courses are available.)
    Coaching through Life’s Compass, LLC is accomplished through one-on-one sessions individualized to meet your specific needs. Sessions are typically provided over the phone, but for those in the local area, in-person appointments are also available. Sessions typically last an hour and are scheduled at a frequency that best meets your needs (usually weekly).

    Find out more about Coaching.

    The first session is always free. You are under no obligation and take no risk. Please contact me for more details or to begin your sessions.
  </section>
  <section class="career-section">
    GROUP COURSES
    I offer group courses in the following categories:

    Job Search Skills Development or Career Planning including:
    Developing Job Leadshands writing
    Resume Writing
    Networking
    Interviewing
    The Executive Job Search

    Life Management or Life Skills including:
    Decision Making
    Effective Communication
    Putting an End to Procrastination
    Please contact me to discuss the details of your needs for a course or seminar.
  </section>
</div>
