<div class="main-container contact-container">
  <table width="100%" border="0" cellspacing="0" cellpadding="5">
    <tbody>
        <tr>
        <td width="28%"><div align="right" class="style6">*Name:</div></td>
        <td width="72%"><input name="realname" type="text" id="realname" size="30"></td>
      </tr>
      <tr>
        <td><div align="right" class="style6">*Email Address:</div></td>
        <td><input name="email_1" type="text" id="email_1" size="30"></td>
      </tr>
      <tr>
        <td><div align="right" class="style6">*Confirm Email Address: </div></td>
        <td><input name="email_2" type="text" id="email_2" size="30"></td>
      </tr>
      <tr>
        <td><div align="right" class="style6">Phone Number:</div></td>
        <td><input name="phone" type="text" id="phone" size="16"></td>
      </tr>
      <tr>
        <td valign="top"><div align="right" class="style6">*Question or Message: </div></td>
        <td><textarea name="message" cols="45" rows="4" id="message"></textarea></td>
      </tr>
      <tr>
        <td valign="top"><div align="right"></div></td>
        <td><input type="submit" name="Submit" value="Submit"></td>
      </tr>
    </tbody>
  </table>
</div>
