<div class="main-container contact-container">
  <div class="contact-header-placeholder">

  </div>
  <div class="contact-text">
    <h1>CONTACT</h1>
    <p>Life’s Compass, LLC is located in beautiful Rio Rancho, which neighbors Albuquerque, New Mexico.</p>
    <p>For more information or to begin life coaching or career coaching sessions with your free exploratory session, contact me, Michele Murphy, through <a href="mailto:info@lifescompass.com">email</a> or by phone at <a href="tel:+15058675259">(505) 867-5259</a>.</p>
    <p>Or send me a message using the following form. (Required fields are indicated with an *)</p>
  </div>
  <div class="contact-form-holder">
    <form action="https://formspree.io/your@email.com" method="POST">
      <div class="contact-form-line">
        <div class="contact-form-line-header">
          *Name:
        </div>
        <input type="text" name="name">
      </div>
      <div class="contact-form-line">
        <div class="contact-form-line-header">
          *Email Address:
        </div>
        <input type="email" name="_replyto">
      </div>
      <div class="contact-form-line">
        <div class="contact-form-line-header">
          *Confirm Email Address:
        </div>
        <input type="email" name="" value="">
      </div>
      <div class="contact-form-line">
        <div class="contact-form-line-header">
          Phone Number:
        </div>
        <input name="phone" type="text">
      </div>
      <div class="contact-form-line">
        <div class="contact-form-line-header">
          *Question or Message:
        </div>
        <textarea name="message" cols="45" rows="4"></textarea>
      </div>

      <input class="submit" type="submit" value="Submit">
    </form>
  </div>
</div>
