<div class="divorce-container">
  <div class="divorce-title">
    DIVORCE RECOVERY SERVICES
  </div>
  <section class="divorce-section">
    Go further than you have ever imagined by REBUILDING YOUR LIFE
    I also offer coaching sessions specific to rebuilding life after divorce or major separation, such as:

    Life Management:
    Put the Past Behind You
    Let Go of Self Doubt
    Develop New and Exciting Plans
    Handle Residuals
    Reconnect with Self
    Have a Life Beyond Your Dreams

    Life Skills Development:
    Decision Making
    Effective Communication
    Ending Procrastination
    Coaching through Life’s Compass, LLC is accomplished through one-on-one sessions individualized to meet your specific needs. Sessions are typically provided over the phone, but for those in the local area, in-person appointments are also available. Sessions typically last an hour and are scheduled at a frequency that best meets your needs (usually weekly).

    Find out more about Coaching.

    The first session is always free. You are under no obligation and take no risk.
  </section>
</div>
