<div class="equestrian-container">
  <div class="equestrian-title">
    EQUESTRIAN COACHING SERVICES
  </div>
  <section class="equestrian-section">
    WHAT IS EQUESTRIAN COACHING?
    Coaching brings your riding dreams to reality and can be applied to any equestrian discipline.

    Chances are that you have an instructor or clinician(s) who gives you technical instruction. That individual tells you how to ride correctly, helps you to identify mistakes, and gives you ideas as to how to ride better, or more effectively (the nuts and bolts of riding).

    Equestrian Coaching shows you how to make the most of this technical advice and maintain it between lessons and clinics. Look at the whole picture: what is between your current or present reality and where you want to be?

    Equestrian Coaching enables you to set goals and develop a program for both you and your equine partner.

    Equestrian Coaching enhances:
    Rider's Focus
    Rider’s Patience
    Rider’s Self-Confidence and Self-Esteem
    Rider’s Achievement of Riding Goals

    Equestrian Coaching does not instruct or tell a rider how to ride.
  </section>
</div>
