<div class="main-container executive-container">
  <div class="executive-top">
  </div>
  <div class="executive-bottom">
    <div class="executive-left">
      <div class="executive-title">
        CAREER COACHING SERVICES
      </div>
      <section class="executive-section">
        <div class="executive-about-title">
          Go further than you have ever imagined in your CAREER
        </div>
        <div class="executive-about-alert">
          Available Soon! Group Coaching sessions to help control your session costs. Please inquire for more information.
        </div>
        I offer executive specific coaching sessions covering any topic you choose, such as:
        <div class="executive-about-info">
          <div class="executive-about-list-title">
            Career Management:
          </div>
          <ul>
            <li>Make your Current Position your Best Position</li>
            <li>Change Jobs or Careers</li>
            <li>Ensure that You are Competitive</li>
            <li>Develop Your Career Strategy</li>
          </ul>
          <div class="executive-about-list-title">
            Job Search Skills Development:
          </div>
          <ul>
            <li>Writing Resumes that Get Results</li>
            <li>Developing Job Leads</li>
            <li>Networking Effectively</li>
            <li>Interviewing Successfully </li>
            <li style="list-style: none">(<a ng-click="scrollTo('courses')">Job search skills development courses</a> are available.)</li>
          </ul>

        </div>
        <p>Coaching through Life’s Compass, LLC is accomplished through one-on-one sessions individualized to meet your specific needs. Sessions are typically provided over the phone, but for those in the local area, in-person appointments are also available. Sessions typically last an hour and are scheduled at a frequency that best meets your needs (usually weekly).</p>

        <p>Find out more about Coaching.</p>

        <p>The first session is always free. You are under no obligation and take no risk. Please contact me for more details or to begin your sessions.</p>
      </section>
      <div class="line">

      </div>
      <section class="executive-section">
        <div id="courses" class="executive-about-alert">
          GROUP COURSES
        </div>
        I offer group courses in the following categories:
        <div class="executive-about-info">
          <div class="executive-about-list-title">
            Job Search Skills Development or Career Planning including:
          </div>
          <ul>
            <li>Developing Job Leadshands writing</li>
            <li>Resume Writing</li>
            <li>Networking</li>
            <li>Interviewing</li>
            <li>The Executive Job Search</li>
          </ul>
          <div class="executive-about-list-title">
            Life Management or Life Skills including:
          </div>
          <ul>
            <li>Decision Making</li>
            <li>Effective Communication</li>
            <li>Putting an End to Procrastination</li>
          </ul>
        </div>
        <p>Please contact me to discuss the details of your needs for a course or seminar.</p>
      </section>
    </div>
    <div class="executive-right">
      <mini-menu-dir></mini-menu-dir>
      <quote-dir source="John Fitzgerald Kennedy" text="We must use time as a tool, not as a couch."></quote-dir>
    </div>
  </div>
</div>
