<div class="main-container home-container">
  <div class="home-action-banner-overlay">

  </div>
  <div class="home-action-banner">
    <div class="home-action-banner-logo">
      Adding Direction to Your Life
    </div>
    <div ui-sref="benefits" class="home-action-banner-action">
      Coaching
    </div>
  </div>
  <div class="home-coaching-info-container">
    <div class="home-coaching-info-title">
      What do your dreams look like? <br>
      What do you really want…
    </div>
    <div class="home-coaching-info-types">
      <div class="home-coaching-info-box home-coaching-info-career">
        <div class="home-coaching-info-box-title">
          From Your Career
        </div>
        <div class="home-coaching-info-image">
          <img src="workspace.jpg" alt="Career Coaching">
        </div>
        <div class="home-coaching-info">
          <ul>
            <li>Increase your income</li>
            <li>Enjoy work again</li>
            <li>Create a better work/life balance</li>
            <li>Decrease the time to your next promotion</li>
          </ul>
        </div>
      </div>
      <div class="home-coaching-info-box home-coaching-info-life">
        <div class="home-coaching-info-box-title">
          From Your Life
        </div>
        <div class="home-coaching-info-image">
          <img src="manandvista.jpg" alt="Career Coaching">
        </div>
        <div class="home-coaching-info">
          <ul>
            <li>Add direction to your life</li>
            <li>Gain peace of mind</li>
            <li>Have more free time</li>
            <li>Increase the fulfillment in your life</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
