<div class="main-container home-container">
  <div class="home-dead-space">

  </div>
  <div class="home-banner">
    <div class="home-banner-">
      BANNER
    </div>
  </div>
  <div class="home-bottom">
    <div class="home-body-title">
      What do your dreams look like?
    </div>
    <div class="home-body-title">
      What do you really want…
    </div>
    <div class="home-coaching-type-container">
      <div class="home-coaching-type">
        <div class="home-coaching-type-title">
          Career Coaching
        </div>
        <div class="home-coaching-type-img">
          <div class="img">
            image
          </div>
        </div>
        <div class="home-coaching-type-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <div class="home-coaching-type">
        <div class="home-coaching-type-title">
          Executive Coaching
        </div>
        <div class="home-coaching-type-img">
          <div class="img">
            image
          </div>
        </div>
        <div class="home-coaching-type-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <div class="home-coaching-type">
        <div class="home-coaching-type-title">
          Life Coaching
        </div>
        <div class="home-coaching-type-img">
          <div class="img">
            image
          </div>
        </div>
        <div class="home-coaching-type-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
    <div class="home-section-break">
      <div class="home-section-break-left">
        <div class="circle">
          <svg class="edit-arrow" viewBox="0 0 100 100">
            <circle cx="35" cy="35" r="4" stroke="white" stroke-width="1" fill="white" />
            <circle cx="65" cy="35" r="4" stroke="white" stroke-width="1" fill="white" />
            <polyline points="
            35,65
            65,65
            65,67
            35,67
            " style="fill:#FFF" />
        </div>
      </div>
      <div class="home-section-break-right">
        <div class="home-section-break-right-words">
          Meet Michele
        </div>
        <div class="home-section-break-right-arrow">
          <svg class="edit-arrow" viewBox="0 0 50 100">
            <polyline points="
            15,25
            33,50
            15,75
            15,74
            32,50
            15,26
            " style="fill:#FFF" />
          </svg>
        </div>
      </div>
    </div>
    <div class="home-award-container">
      <div class="home-award-title">
        <span>Award</span>
      </div>
      <div class="home-award-award">
        <a href="https://www.expertise.com/nm/albuquerque/life-coaches" style="display:inline-block; border:0;"><img style="width:200px; display:block;" width="200" height="160" src="https://cdn.expertise.com/awards/nm_albuquerque_life-coaches_2016.svg" alt="Best Life Coaches in Albuquerque" /></a>
      </div>
    </div>
  </div>
</div>
