<div class="life-container">
  <div class="life-top">
    <div class="life-title">
      LIFE COACHING SERVICES
    </div>
  </div>
  <div class="life-bottom">
    <div class="life-left">
      <section class="life-section">
        <div class="life-about-title">
          Go further than you have ever imagined in your LIFE
        </div>
        I offer life coaching sessions, such as:
        <div class="life-about-info">
          <div class="life-about-list-title">
            Life Management:
          </div>
          <ul>
            <li>Developing Confidence</li>
            <li>Creating More FREE Time</li>
            <li>Establishing Life/Work Balance</li>
            <li>Keeping Your Focus on Your Priorities</li>
          </ul>
          <div class="life-about-list-title">
            Life Skills Development:
          </div>
          <ul>
            <li>Decision Making</li>
            <li>Effective Communication</li>
            <li>Ending Procrastination</li>
          </ul>

        </div>
        <p>Coaching through Life’s Compass, LLC is accomplished through one-on-one sessions individualized to meet your specific needs. Sessions are typically provided over the phone, but for those in the local area, in-person appointments are also available. Sessions typically last an hour and are scheduled at a frequency that best meets your needs (usually weekly).</p>

        <p>Find out more about Coaching.</p>

        <p>The first session is always free. You are under no obligation and take no risk. Please contact me for more details or to begin your sessions.</p>
      </section>
    </div>
    <div class="life-right">
      <quote-dir source="Testimonial" text="Thank you thank you thank you for helping me with my life direction and outlook."></quote-dir>
    </div>
  </div>
