<div class="life-container">
  <div class="life-title">
    LIFE COACHING SERVICES
  </div>
  <section class="life-secction">
    Go further than you have ever imagined in your LIFE
    I offer life coaching sessions, such as:

    Life Management:
    Developing Confidence
    Creating More FREE Time
    Establishing Life/Work Balance
    Keeping Your Focus on Your Priorities

    Life Skills Development:
    Decision Making
    Effective Communication
    Ending Procrastination
    Coaching through Life’s Compass, LLC is accomplished through one-on-one sessions individualized to meet your specific needs. Sessions are typically provided over the phone, but for those in the local area, in-person appointments are also available. Sessions typically last an hour and are scheduled at a frequency that best meets your needs (usually weekly).

    Find out more about Coaching.

    The first session is always free. You are under no obligation and take no risk.
  </section>
</div>
