<div class="main-container michele-container">
  <div class="michele-top">
    <div class="michele-title">
      MEET MICHELE
    </div>
  </div>
  <div class="michele-bottom">
    <div class="michele-left">
      <section class="michele-about">
        <p>Prior to moving literally around the world, I grew up in the beautiful state of New Mexico, where I now reside. I’ve lived and worked in Japan, Iceland, the US and the United Kingdom. Through my experiences with a wide variety of people and cultures I have developed a special appreciation for the positive aspects of change and the growth that develops us into deeper and more capable persons.</p>
        <p>In bringing about this type of change and growth, my philosophy is simple: I hold to the highest level of integrity while effectively assisting you. I treat you in a straight-forward, productive, and supportive manner. I know this is your process and you own it. I am there to add momentum and power to your desires.</p>
        <p>I love interacting with people and our environment and appreciate all animals, but especially enjoy riding horses in the discipline of Dressage.</p>
        <div class="michele-section-header">
          Below is a professional summary written by a prior customer on my behalf:
        </div>
        <p><span>“Michele Montgomery is the consummate professional. With her assistance, literally hundreds of individuals have successfully explored their abilities, found their niche, and realized their dreams.</span></p>
        <p><span>"Throughout her 14 year career, which has spanned multiple continents, Michele has been a guiding light to those who have sought her assistance in multiple areas of their lives. From discovering life’s most important goals, to securing the perfect job, Michele has provided support and guidance as individuals made their dreams come true.</span></p>
        <p><span>"As a program manager for transition assistance, Michele brought the accolade of ‘Best in Europe’ to the organization which she led. Individuals would travel hundreds of miles for the opportunity to attend Michele’s week long seminar, where Michele, in her usual inimitable way, imparted vast quantities of information, advice, and guidance, in clear, concise, and easy to understand sessions.” (Written by prior client in Law Enforcement analysis.)</span></p>
        <p>I am thrilled that a prior customer can write such beautiful words on my behalf.</p>
      </section>
      <section class="michele-about">
        <div class="michele-crossroads-title">
          Are You at a Crossroads?
        </div>
        <p>If you are at a crossroads in your life, need guidance with the next phase of your life, or are still wondering ‘What do I want to be when I grow up?’ imagine the possibilities available through one-on-one coaching from a professional. Don’t wonder any longer, contact me today. I can answer any questions or arrange a free exploratory session (risk and cost free) to find out how I can help empower you to explore the elements of your life and successfully achieve the life of your dreams.</p>

        <div class="michele-email-link">
          <a href="mailto:info@lifescompass.com">Michele Montgomery</a>
        </div>
        <div class="michele-phone-link">
          <a href="tel:+15055533832">(505) 553-3832</a>
        </div>
      </section>
    </div>
    <div class="michele-right">
      <quote-dir source="Testimonial" text="I really enjoy working with Michele and am very impressed by her knowledge, insight, and professionalism."></quote-dir>
    </div>
  </div>



</div>
