<div class="main-container success-container">
  <div class="success-top">
  </div>
  <div class="success-bottom">
    <div class="success-left">
      <section class="success-title">
        SUCCESS STORIES
      </section>
      <section class="success-story">
        <div class="success-story-title">
          Success 1
        </div>
        <span>Career and Life Coaching Situation:</span>
        <p>A 28-year-old who knew that he was in the right field and loved his work approached me for assistance. He and his wife highly valued her ability to stay at home with their five children under the age of eight. They wanted to move to the Midwest, which would require a change of employers as well as coordinating the move. He had several years of experience working with higher education programs but did not know if his experience would translate to other companies or a university setting and was nervous about leaving his current secure position and being unable to support his family. To complicate the situation he had to give extended notice to his current employer to fulfill his contract obligations.</p>
        <span>Action:</span>
        <p>Together we identified gaps in information and formulated a plan which included research, skill evaluations, planning the elements of the move, and financial planning. We held sessions that included self exploration, guidance, and job-search skill development. I reviewed his resumes and applications until he knew what feedback I would give beforehand. We held mock interviews and discussed self presentation and tactics.</p>
        <p>The more we talked and the more that this man learned about his skills, what types of positions required these skills, and the settings in which they were located, the more confident he became.</p>
        <span>Results:</span>
        <p>This young man was able to complete two interviews prior to giving notice to his current employer. Although employers could not consider hiring anyone as early as the extended notice required, this young man gained enough confidence to believe that he could be successful.</p>
        <p>He successfully networked, applied and interviewed for a dream position. Within 30 days of arriving in the Midwest, this man was working for a major university leading their program administration. He had doubled his salary, moved to his desired location, and loved both his job and his new employer. He told me verbally amidst many exclamations, “Thank you, Michele; I could never have done this without you. I am having so much fun. I am so free now that I have these skills and experiences. Thank you so much.”</p>
      </section>
      <section class="success-story">
        <div class="success-story-title">
          Success 2
        </div>
        <span>Life Coaching and Career Counseling Situation:</span>
        <p>A gentleman midway through his career in computer systems administration approached me for assistance as he wanted to move to Australia with his family. He knew that he wanted to live and work in Australia, but had no idea where to start. He was overwhelmed and felt that he was presenting an impossible task when he came in to see me. He would need a position in Australia prior to the move and assistance to set up the move. His family had decided that he would support them initially, then once settled his wife would go back to work.</p>
        <span>Action:</span>
        <p>Together we developed a plan that would fit this gentleman and his family. Actionable steps included research on visa requirements, cost of living, wage information, and availability of positions in computer systems administration. We assessed his skills and evaluated how they would be applied and viewed in corporate Australia.</p>
        <p>Once this gentleman got past the initial investigation and realized that the pieces could come together for him, he gained momentum. Our next steps included developing a plan for him to increase his job search skills, gain employment, find a house, obtain a visa, and coordinate the move.</p>
        <span>Results:</span>
        <p>This mid-careerist was able to secure employment prior to the move that met all of his requirements. His move was successful and he now lives and works in Australia. He did change employers once more after being in Australia for some months and is now really quite happy and can’t believe that he almost stopped himself from even trying to make this move.</p>
      </section>
      <section class="success-story">
        <div class="success-story-title">
          Success 3
        </div>
        <span>Life Coaching and Career Counseling Situation:</span>
        <p>A young college freshman approached me for assistance. He did not know what he wanted to do and did not want to waste time and money in the wrong degree program if it could be avoided.</p>
        <span>Action:</span>
        <p>We explored his innate skills and interests and created a plan to enable him to test his three areas of greatest interest. Through the projects, he realized that one of these areas was indeed most interesting to him.</p>
        <p>We developed a second plan to select appropriate schools, compare costs, examine types of programs, and determine the respect of these programs in the community.</p>
        <span>Results:</span>
        <p>We met later to discuss the actions that he was taking and to ascertain his success. He completed his actionable steps, selected a program, and has graduated with a BS in Computer Information Systems. He is now enrolled in a masters program and is quite excited about the choices that he has made.</p>
      </section>
    </div>
    <div class="success-right">
      <quote-dir source="William Adams" text="You can have anything you want - if you want it badly enough. You can be anything you want to be, do anything you set out to accomplish if you set out to accomplish if you hold to that desire with singleness of purpose."></quote-dir>
    </div>
  </div>



</div>
