<div class="main-container testimonial-container">
  <div class="testimonial-top">
  </div>
  <div class="testimonial-bottom">
    <div class="testimonial-left">
      <section class="testimonial-title">
        TESTIMONIALS
      </section>
      <section class="testimonial">
        <h2>What will your experience be? Read on for the experiences of prior customers.</h2>
        <p>"For over 30 years I have been in the personal growth and development industry and have come to a place in my career where I coach coaches. I have been working with Michele for over 6 months, have gotten to know her well and am proud to tell you and anyone else that would benefit from her services: She is not only intelligent and very, very good at what she does, she is also one of the most caring and compassionate people that I have known. This is the only endorsement of its kind that I have ever given."</p>
        <div>- Bob Sumara</div>
      </section>
      <section class="testimonial-oneonone">
        <h2>One on One Coaching:</h2>
        <p>"What amazes me is that you seem to believe in me more than I do myself! I guess I should think long and hard about that. I draw on your faith in my success and your enthusiasm when I get down, and appreciate your clarity, positivity, and kindness."</p>
        <p>“I can’t believe how limiting I was and how wonderful life can be. I did not believe it. I now can really see what is possible. Thank you for this gift.”</p>
        <div class="">
          “Michele thanks to your comment last week, I started to really think about how I live my life and now my universe is really popping.”
        </div>
        <p>"You are the end to procrastination - I have gotten so distracted lately.  I am so glad that you are helping me.  You really keep me going on this.  I really feel like this is what I am supposed to be doing."</p>
        <p>"You've been a big help and support to me. Thank you for your insights, strength and setting such a great example for me."</p>
        <p>“Michele, I have had insights that have made a dramatic impact on how I feel in my life. I am happy in who I am and where I am going.”</p>
        <p>“I really enjoy working with you and am very impressed by your knowledge, insight, and professionalism.”</p>
        <div class="">
          “Open life’s doors, that is what I feel you did for me.”
        </div>
        <p>"Michele, Thank you.  This is exactly the process that I had hoped for."</p>
        <p>“Thank you for your outstanding work. The time and effort you have invested were evident throughout.”</p>
        <p>"It was great to know that you were there, not only because I truly felt that you were rooting for my success, but because I knew that you were there to question me as I progressed. This made it easier for me to choose to be active in my pursuit of my best life rather than just dream about it."</p>
        <p>“Thank you. I am no longer afraid or intimidated by people. I can now write and approach publishers without hesitating.”</p>
        <div class="">
          “Michele, Thank you for your commitment to my process. I could not have done it without you.”
        </div>
        <p>“My life is too narrow. I would like your help to infuse it again.”</p>
        <p>“I would feel honored that my words might impart to others some of the wonderful experiences you have helped bring to my life. I always know without a doubt that if I ask you a question regarding just about anything I will receive a very perceptive and useful answer. I truly feel blessed to have someone with such insight and experience to bounce ideas off!”</p>
      </section>
    </div>
    <div class="testimonial-right">
      <quote-dir source="Jim Rohn" text="The major reason for setting a goal is for what it makes of you to accomplish it. What it makes of you will always be the far greater value than what you get."></quote-dir>
    </div>
  </div>



</div>
