/*
INTERNATIONAL ORANGE RGB: 194, 52, 50
BLEU DE FRANCE RGB: 60, 145, 230
JET RGB: 54, 53, 55
BABY POWDER RGB: 255, 253, 246
LEGHT GREY RGB: 211, 212, 217
*/
@import url('https://fonts.googleapis.com/css?family=Cormorant:300,400');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,200,300,400,500');

$primary-color: rgba(89, 24, 23, 1);
$white-text: rgba(255, 253, 246, 1);
.main-container {
  position: relative;
}

img {
    max-width: 100%;
    max-height: 100%;
}
