.career-container {
  top: 132px;
  display: block;
}

.career-top {
  width: 100%;
  background: url("../christoph-schulz-4743.jpg") no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  position: relative;
  height: calc(100vh - 132px);
}

.career-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.career-left {
  width: calc(100% - 300px);
}

.career-title {
  width: 100%;
  font-family: $serif-font;
  font-size: 2rem;
  color: $red-color;
  text-align: center;
  padding: 1.5rem;
}

.career-about-title {
  font-family: $sans-serif-font;
  font-size: 1.4rem;
  color: $secondary-color;
}

.career-about-alert {
  color: darken($primary-color, 25%);
  font-size: 1.2rem;
  padding: 1rem 0;
}

.career-section {
  padding: 1rem;
  font-family: $serif-font;
}

.career-about-list-title {
  color: $red-color;
  font-weight: bold;
  padding: .5rem;
}

.career-about-info {
  padding: 1rem;
}

.career-about-info li {
  margin-left: 2.5rem;
  list-style: disc;

  a {
    color: darken($primary-color, 50%);
    cursor: pointer;
  }
}

.career-section p {
  padding: .5rem;
}

.career-right {
  width: 300px;
  border-left: 1px solid $secondary-color;
  padding: 10px;
  position: relative;
}

@media (max-width: 768px) {
  .career-right {
    display: none;
  }
  .career-left {
    width: 100%;
  }
}
