header {
  width: 100%;
  height: 100px;
  background: rgba(89, 24, 23, 1);
  /*border-radius: 0 0 0 50em;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
.header-align {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-title-container {
  color: rgba(255, 253, 246, 1);
  font-size: 1.5rem;
  font-family: 'Cormorant', serif;
  font-weight: 300;
  letter-spacing: .3rem;
}
.header-title-container span {
  font-size: 2.2rem;
}
.header-desktop-menu {
  display: none;
}
.header-mobile-menu{
  display: block;;
}

@media (min-width: 769px) {
  .header-mobile-menu{
    display: none;
  }
  .header-desktop-menu {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .desktop-menu-item {
    font-family: 'Cormorant', serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: rgba(255, 253, 246, 1);
    padding: .5em;
    cursor: pointer;
  }
  .desktop-menu-dropdown {
    margin-right: 1.5rem;
    position: relative;
  }

  .desktop-menu-dropbtn {
    border: none;
  }
  /* Dropdown Content (Hidden by Default) */
  .desktop-menu-dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 253, 246, 1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }

  /* Links inside the dropdown */
  .desktop-menu-dropdown-content a {
    font-family: 'Cormorant', serif;
    font-size: 1rem;
    color: rgba(89, 24, 23, 1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
  .desktop-menu-dropdown-content a:hover {
    background-color: rgba(255, 254, 251, 1);
    color: black;
  }

/* Show the dropdown menu on hover */
  .desktop-menu-dropdown:hover .desktop-menu-dropdown-content {
    display: block;
    right: 0;
  }


  .desktop-menu-contact {
    background: rgba(124, 34, 32, 1);
    border: 1px;
    border-style: solid;
    border-color: rgba(255, 253, 246, 1);
  }
  .desktop-menu-contact:hover {
    background: rgba(159, 43, 41, 1);
  }

}
