header {
  width: 100%;
  position: fixed;
  z-index: 3;
  border-bottom: 1px solid darken($primary-color, 45%);
}

.header-top {
  background-image: url(../body.png);
  background-repeat: repeat;
  background-position: top center;
  height: 100px;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.animate-show-hide.ng-hide {
  height: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.header-logo {
  height: 140px;
  width: auto;
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: row;
}
.header-logo img {
  max-height: 100%;
  margin: auto;
}
.header-logo div {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-family: $serif-font;
  font-size: 50px;

  a {
    color: rgb(122, 0, 0);
    //color: rgb(88, 19, 21);
    text-decoration: none;
  }
}
.header-align {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
.header-desktop-menu {
  display: none;
}
.header-mobile-menu{
  display: block;
}

.desktop-menu-contact {
  display: none;
}

@media (min-width: 769px) {
  header {
    border-bottom: none;
  }
  .header-mobile-menu{
    height: 32px;
    display: none;
  }

  .header-desktop-menu {
    position: relative;
    width: 100%;
    display: block;
    background-color: $secondary-color;
    z-index: 10;
  }

  .header-destop-link-holder {
    width: 80%;
    margin: auto;
    z-index: 2;
    height: 35px;
  }

  .header-desktop-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .header-desktop-menu ul li {
    position: relative;
    float: left;
    cursor: pointer;
    font-family: $sans-serif-font;
    font-size: 17.5px;
    font-weight: 200;
  }

  .header-desktop-menu ul a {
    text-align: center;
    text-decoration: none;
    display: block;
    height: 35px;
    padding: 8.75px 5px 0 5px;
  }

  .header-desktop-menu ul > li > a {
    color: $white-text;
  }

  .header-desktop-menu ul li:hover {
    background: white;
    color: black;
    border: 1px solid black;
  }

  .header-desktop-menu ul li:hover > a {
    background: white;
    color: black;
  }

  .header-desktop-menu ul li a:hover {
    background: #A2A3A1;
    color: $white-text;
  }

  .header-desktop-menu ul li:hover .header-drop-down {
    display: block;
  }

  .header-drop-down {
    display: none;
    background: white;
    width: 100%;
    z-index: 5;
  }

  .header-drop-down > a{
    color: black;
  }

  .header-drop-down a:hover {
    background: #A2A3A1;
    color: $white-text;
  }

  .desktop-menu-contact {
    display: block;
    background: $secondary-color;
    border: 1px;
    border-style: solid;
    border-color: $white-text;
    font-family: $sans-serif-font;
    font-weight: 300;
    font-size: 1.2rem;
    color: $white-text;
    letter-spacing: .1rem;
    padding: .7rem;

    a {
      text-decoration: none;
      color: $white-text;
    }
  }
  .desktop-menu-contact:hover {
    background: rgba($red-color, 1);
  }

}
