.home-container {
  /* TEMP */
  padding: 5px;
}

.home-dead-space {
  width: 100%;
  height: 135px;
}

.home-banner {
  height: calc(100vh - 135px);
  width: 100%;
  /* TEMP */
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $serif-font;
  font-size: 10rem;
}

.home-body-title {
  width: 100%;
  padding: 10px;
  font-family: $sans-serif-font;
  font-size: 2rem;
  text-align: center;
}

.home-coaching-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0;
}

.home-coaching-type {
  /* TEMP */
  width: 300px;
  border: 1px solid black;
  padding: 5px;
}

.home-coaching-type-title {
  width: 100%;
  text-align: center;
  font-family: $serif-font;
  font-size: 1.5rem;
  cursor: pointer;
}

.home-coaching-type-img {
  /* TEMP */
  height: 200px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $serif-font;
  cursor: pointer;
}

.home-coaching-type-text {
  padding: 5px;
}

.home-section-break {
  width: 100%;
  height: 125px;
  background: rgb(81, 81, 81);
  position: relative;
  display: flex;
  padding-left: 185px;
}

 .home-section-break:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 115px;
  background-image: url(../body.png);
  background-repeat: repeat;
  background-position: top center;
  background-attachment: scroll;
  z-index: 0;
  -webkit-transform: matrix(1.25, 0, 0.75, 1, 0, 0);
  -moz-transform: matrix(1.25, 0, 0.75, 1, 0, 0);
  -ms-transform: matrix(1.25, 0, 0.75, 1, 0, 0);
  -o-transform: matrix(1.25, 0, 0.75, 1, 0, 0);
  transform: matrix(1.25, 0, 0.75, 1, 0, 0);
  border-radius: 0 20px 0 20px;
  margin: 0 -80px 0;
  left: 140px;
}

.home-section-break-left {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.circle {
  height: 100px;
  width: 100px;
  border: 2px solid white;
  border-radius: 50%;
}

.home-section-break-right {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 100px;
}

.home-section-break-right-words {
  padding: 10px;
  color: #fff;
  font-family: $sans-serif-font;
  font-weight: 100;
  font-size: 2.1rem;
}

.home-section-break-right-arrow {
  height: 100px;
  width: 50px;
  color: #fff;
  font-family: $sans-serif-font;
  font-size: 2.1rem;
  position: relative;
  cursor: pointer;
}

.home-section-break-right-arrow:hover {
  left: 5px;
}

.home-award-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-award-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $sans-serif-font;
  font-size: 2.1rem;
}

@media (max-width: 768px) {

}
