.quote {
  height: 100%;
  position: relative;
}

.quote-holder {
  position: absolute;
  top: 100px;
}

.quote-mark {
  font-size: 50px;
}

.start-quote {
  position: absolute;
}

.end-quote {
  position: absolute;
  right: 10px;
}

.quote-quote {
  padding: 0 30px;
  position: relative;
  top: 15px;
  line-height: 1.5;
  font-family: $quote-font;
}

.quote-source {
  text-align: center;
  margin-top: 30px;
  font-family: $serif-font;
}
