.testimonial-container {
  top: 132px;
  display: block;
}

.testimonial-top {
  width: 100%;
  background: url("../cristina-cerda-43101.jpg") no-repeat center bottom;
  background-size: cover;
  position: relative;
  height: calc(100vh - 132px);
}

.testimonial-bottom {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.testimonial-left {
  width: calc(100% - 300px);
  font-family: $serif-font;
}

.testimonial-title {
  width: 100%;
  font-family: $serif-font;
  font-size: 2rem;
  color: $red-color;
  text-align: center;
  padding: 1.5rem;
}

.testimonial {
  h2 {
    font-size: 1.2rem;
    padding: 1rem .5rem;
    text-align: justify;
  }
  p {
    padding: 0 2rem;
  }
  div {
    padding: 0 1rem;
    text-align: right;
  }
}

.testimonial-oneonone {
  h2 {
    margin-top: 2rem;
    color: $red-color;
    font-size: 1.2rem;
  }
  p {
    padding: 1rem 2rem;
  }
  div {
    width: 33%;
    float: right;
    padding: .5rem;
    text-align: justify;
    font-size: 1.2rem;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
  }
}

.testimonial-right {
  width: 300px;
  border-left: 1px solid $secondary-color;
  padding: 10px;
  position: relative;
}

@media (max-width: 768px) {
  .testimonial-top {
    display: none;
  }
  .testimonial-bottom {
    min-height: calc(100vh - 45px);
  }
  .testimonial-right {
    display: none;
  }
  .testimonial-left {
    width: 100%;
  }
}
