<header>
  <div class="header-top animate-show-hide" ng-show="headerDisplay">

    <div class="header-logo animate-show-hide">
      <a href="#" ng-show="headerDisplay"><img src="./lifes compass wordmark-01.png" alt="logo"></a>
    </div>

    <div class="desktop-menu-item desktop-menu-contact animate-show-hide" ng-show="headerDisplay">
      <a ui-sref="contact">Contact</a>
    </div>

    <div class="header-mobile-menu">
    </div>

  </div>
  <div class="header-desktop-menu">
    <div class="header-destop-link-holder">
      <ul>
        <li>
          <a class="header-desktop-drop" ui-sref="career">Career Coaching</a>
          <div class="header-drop-down">
            <a ui-sref="career">Link 1</a>
            <a ui-sref="career">Link 2</a>
            <a ui-sref="career">Link 3</a>
          </div>
        </li>
        <li>
          <a class="header-desktop-drop" ui-sref="executive">Executive Coaching</a>
          <div class="header-drop-down">
            <a ui-sref="executive">Link 1</a>
            <a ui-sref="executive">Link 2</a>
            <a ui-sref="executive">Link 3</a>
          </div>
        </li>
        <li>
          <a class="header-desktop-drop" ui-sref="life">Life Coaching</a>
          <div class="header-drop-down">
            <a ui-sref="life">Link 1</a>
            <a ui-sref="life">Link 2</a>
            <a ui-sref="life">Link 3</a>
          </div>
        </li>
        <li>
          <a class="header-desktop-drop" ui-sref="other">Other Information</a>
          <div class="header-drop-down">
            <a ui-sref="resources">Link 1</a>
            <a ui-sref="michele">Link 2</a>
            <a ui-sref="testimonials">Link 3</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
