<header ng-style="{'background-color':bgCol}">
  <div class="header-top">

    <div class="header-logo">
      <a href="#"><img src="./lifes compass wordmark-01.png" alt="logo"></a>
    </div>

    <div class="desktop-menu-item desktop-menu-contact">
      <a ui-sref="contact">Contact</a>
    </div>

    <div class="header-mobile-menu">
    </div>

  </div>
  <div class="header-desktop-menu">
    <div class="header-destop-link-holder">
      <ul>
        <li><a ui-sref="career">Career Coaching</a></li>
        <li><a ui-sref="life">Life Coaching</a></li>
        <li><a ui-sref="divorce">Divorce Recovery</a></li>
        <li><a ui-sref="equestrian">Equestrian Coaching</a></li>
        <li><a ui-sref="resources">Resources</a></li>
      </ul>
    </div>
  </div>
</header>
